.custom-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.modal-header h2 {
    margin: 0;
}

.modal-header button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #333;
}

.modal-body {
    /* Add your styles as needed */
}

.prof_img-ap {
    width: 50px;
    /* height: 50px; */
}

.prof_img-ap img {
    width: 100%;
    object-fit: cover;
}

.modal-body-h{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}