.sur_srt-sec {
    padding: 0 20px;
}

.sur_Row1 {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.sc-icn i {
    font-size: 12px;
}

.sur_ref-btn button {
    padding: 0;
}

.sur_ref-btn i {
    font-size: 20px;
}

.sur_Row2 {
    display: flex;
    justify-content: space-between;
    /* gap: 20px; */
    align-items: center;
    margin-top: 15px;
}

.sur_pr {
    width: 48%;
}

.sur_as {
    width: 48%;
}

.sur_Row3 {
    display: flex;
    margin-top: 15px;
}

.sur_bt {
    width: 48%;
}

.sur_Row4 {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.sur__Table {
    margin-top: 15px;
}

.sur_m-modal .modal-header {
    border: none;
}

.sur_edit-modal .modal-header {
    border: none;
}

.sur_input-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sr_ed-inp-n {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0px;
    text-align: left;
    color: #282323;
    width: 50%;
}

.sr_ed-inp-fld {
    width: 50%;
}

.sur_m-cnt {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 17px;
    margin-top: 0;
}

.sur_addVl-cnt {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 12px;
    margin-top: 0;
}


/* new */
.sur_mn-ttl {
    padding: 10px 0px;
    background: #6B46C1;
}

.sr_mn-sec {
    display: flex;
    justify-content: center;
    gap: 7rem;
}

.sr_mn-sec span {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}

.sr_dt-card {
    display: flex;
    justify-content: center;
    gap: 7rem;
}

.sr_dt-as span {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

.sr_dt-tlk {
    display: flex;
    justify-content: center;
    gap: 7rem;
}

.sr_tlk-n span {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

.sr_tlk-sts i {
    font-size: 20px;
}